[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-dotenv = "*"
fastapi = "*"
scrapy = "*"
beautifulsoup4 = "*"
scrapy-fake-useragent = "*"
selenium = "*"
pytest = "*"
httpx = "*"
factory-boy = "*"
pytest-asyncio = "*"
requests = "*"
aioresponses = "*"
black = "*"
beanie = "*"
mock = "*"
pytest-httpx = "*"
pyjwt = "*"
motor = "*"
pandas = "*"
python-multipart = "*"
pre-commit = "*"
mypy = "*"
autoflake = "*"
flake8 = "*"
types-openpyxl = "*"
pandas-stubs = "*"
motor-stubs = "*"
openpyxl = "*"
pydantic = "==1.10.7"

[dev-packages]

[requires]
python_version = "3.11"
